[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shapcho
[access "refs/for/refs/*"]
	read = group user/shapcho
	push = group user/shapcho
	label-Code-Review = -2..+2 group user/shapcho
	label-Verified = -1..+1 group user/shapcho
	rebase = group user/shapcho
	removeReviewer = group user/shapcho
	submit = group user/shapcho
[access "refs/heads/*"]
	read = group user/shapcho
	create = group user/shapcho
	push = +force group user/shapcho
	pushMerge = group user/shapcho
[access "refs/tags/*"]
	push = +force group user/shapcho
	pushTag = group user/shapcho
	pushSignedTag = group user/shapcho
